.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  max-width: 400px;
}

.form input,
.form textarea {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form button {
  padding: 10px;
  background-color: #111;
  color: white;
  border: none;
  cursor: pointer;
}
